@use './../../styles/mixins.scss' as *;
@use './../../styles/variables.scss' as *;

.hero {
  position: relative;
  min-height: 640px;
  height: 90dvh;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    width: 100%;
    display: block;
    content: '';
    position: absolute;
    z-index: $index-pseudo;
  }

  &::before {
    bottom: 0;
    left: 0;
    height: 20%;
    background: $abstract-bg-bottom;
  }

  &::after {
    top: 0;
    left: 0;
    height: 10%;
    background: $abstract-bg-top;
  }

  @include desktop {
    min-height: 980px;
    height: 60vh;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 900px;
  }

  &__title {
    font-family: $font-secondary;
    font-weight: $font-weight-bigTitle;
    font-size: $font-size-main;
    line-height: $line-height-primary;
    text-align: center;
    color: $color-primary;
    @include desktop {
      font-size: $font-size-main-desktop;
    }
  }

  .accent {
    font-size: $font-size-accent;
    line-height: $line-height-primary;
    background: $gradient-green;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    @include desktop {
      font-size: $font-size-accent-desktop;
    }
  }

  &__description {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: $font-size-basic;
    line-height: $line-height-primary;
    text-align: center;
    color: $color-primary;
    margin-top: $m-16;
    @include desktop {
      margin-top: $m-24;
      font-size: $font-size-basic-desktop;
    }
  }

  &__button {
    border: none;
    border-radius: $border-radius-primary;
    padding: $p-button;
    font-family: $font-primary;
    font-size: $font-size-button;
    line-height: $line-height-basic;
    text-align: center;
    color: $color-primary;
    margin-top: $m-32;
    background: $gradient-black;
    box-shadow: $box-shadow-primary;
    backdrop-filter: $blur-primary;
    transition:
      background 0.25s ease-in-out,
      background-image 0.25s ease-in-out;
    &:hover {
      background: $gradient-green;
    }

    @include desktop {
      margin-top: 48px;
    }

    @include max-to-desktop {
      background: $gradient-light-green;
    }
  }
}
