@use "./../../styles/mixins.scss" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: linear-gradient(
    180deg,
    #000000 60%,
    rgba(25, 129, 84, 0.178) 100%
  );

  @include desktop {
    padding: 32px 64px;
  }

  &__logo {
    width: 100px;
    @include desktop {
      width: 150px;
    }
  }

  &__toggle {
    background: rgba(25, 129, 84, 0.905);
    border: none;
    padding: 16px;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
    z-index: 100;
    @include tablet {
      display: none;
    }
  }

  &__links {
    display: flex;
    gap: 16px;
    @include desktop {
      gap: 32px;
    }
    @include max-to-tablet {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: center;
      padding: 120px 16px 32px 16px;
      width: 100%;
      height: 100vh;
      background: linear-gradient(
        180deg,
        #000000ef 60%,
        rgba(25, 129, 84, 0.905) 100%
      );
      z-index: 99;
    }

    &--open {
      display: flex;
    }
  }

  &__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    transform: all 0.25s ease-in-out;
    @include desktop {
      font-size: 20px;
      line-height: 24px;
    }
    @include max-to-tablet {
      font-size: 24px;
      line-height: 32px;
    }
    &:hover {
      background: radial-gradient(
        64.18% 64.18% at 71.16% 35.69%,
        rgb(153, 255, 204) 0.89%,
        rgb(102, 238, 170) 17.23%,
        rgb(51, 221, 136) 42.04%,
        rgb(0, 207, 117) 55.12%,
        rgb(0, 180, 102) 71.54%,
        rgb(0, 153, 87) 100%
      );
      -webkit-background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}
